* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width: calc(100vw - 250px);
  background-color: blue;
}

main {
  display: flex;
  height: calc(100vh - 100px);
  background-color: #141922;
}

footer {
  height: 100px;
  background-color: #282828;
}

aside {
  width: 250px;
  height: 100%;
  background-color: black;
}


.app {
  width: calc(100vw - 250px);
  overflow-y: auto;
}

p {
  height: 300px;
}

/* logo */

.logo img {
  width: 200px;
}

/* Sidebar */
ul.sidebar-home, ul.music-list {
  color: #a3a3a3;
  list-style: none;
  padding-left: 10px;
  padding-top: 10px;
}

ul.sidebar-home li, ul.playlist li {
  padding-top: 10px;
}

ul.sidebar-home li a, ul.playlist li a, ul.music-list li a {
  text-decoration: none;
  color: #a3a3a3;
}

ul.sidebar-home li i, ul.playlist li i {
  padding-right: 5px;
}

/* Sidebar lista playlist */

ul.playlist {
  margin-top: 20px;
  color: #a3a3a3;
  list-style: none;
  padding-left: 10px;
}

.plus {
  border-radius: none;
  font-size: 40px;
  vertical-align: middle;
}

ul.playlist li {
  vertical-align: middle;
}

ul.playlist li:first-child {
  color: #ffff;
  font-weight: bold;
}

/* Lista musica */

ul.music-list li {
  margin-top: 20px;
}




.
