* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 100px;
  background-color: blue;
}

.item-right{
  display: flex;
  flex-basis: calc(100% - 15%);
  flex-direction: row-reverse;
  align-items: center;
}

nav {
  display: flex;
  flex-basis: 15%;
  background-color: black;
}

nav img {
  height: 50px;
  align-self: center;
}

.bho {
   display: block;
 }
